extends layout

block content
  #particles-js
  .row.mr-5
    .col-lg-6.text-center.mt-5
      h1#bossName Boss n°1
      .row.text-center
        .col-lg-8.offset-lg-2       
          .progress.mt-5
            .progress-bar.font.bg-danger#life(role='progressbar', style='width: 100%', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100') 
      canvas#canvas
      p#bonus -1
      p#monnaie
    .col-lg-4.mt-5
      .card.border-light.bg-transparent.font-color
        .card-header Chat avec les autres joueurs
        .card-body#ololo
          ul#messages.mr-0
        .card-footer
          form
            .row
              .col-lg-9
                input#msg.form-control(type='text', autocomplete='off')
              .col
                button.btn.btn-light Envoyer
    .col-lg-2.mt-5
      .card.border-light.bg-transparent.font-color
        .card-header Joueurs en ligne
        .card-body#allUser
          ul#joueurs

    button.bouton#bonus2 Acceleration x1
    button.bouton#bonus3 Acceleration x2
    button.bouton#bonus4 Acceleration x3
    button.bouton#bonus5 Acceleration x4   

block script
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/app.js")
  script(src='/javascripts/particles.js')
  script(src='/javascripts/myParticles.js')
  script(src='/javascripts/lifePoints.js')
  script(src='/javascripts/bossAnimation.js')
  script(src="/javascripts/TestAnimation.js")
  script(src="/javascripts/bonus.js")
    