extends layout

block content
  .container.mt-5
    .row
      .col-lg-4.offset-lg-4
        form(action='/login', method='post')
          .form-group
            label(for='username') Username
            input#username.form-control(type='text', name='username', placeholder='Enter username')
          .form-group
            label(for='password') Password
            input#password.form-control(type='password', name='password' placeholder='Password')
          button.btn.btn-primary(type='submit') Se connecter
          a(href='/signup')  Inscrivez vous
