@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@font-face{
    font-family: 'LLPIXEL3';
    src: url('LLPIXEL3.ttf');
}

#bossName {
    font-family: 'Press Start 2P', cursive;
    color: #FFF7EA;
}

.font {
    font-family: 'Press Start 2P', cursive;
}

ul {
    list-style: none;
    margin-left: 0;
    padding: 0;
}

html,body {
    width: 100%;
    height: 100%;
}

#messages {
    color: #FFF7EA;
}

#ololo {
    overflow: auto;
    max-height: 30vw;
}

.font-color {
    color: #FFF7EA;
}

#canvas
{
    z-index: 1;
    width: 330px;
    height: 350px;
    background-image: url("/images/boss6.gif");
    margin-left: 200px;
}

.bouton{
    width:85px;
    height:85px;
    background:#fafafa;
    box-shadow:2px 2px 8px #aaa;
    font:bold 13px Arial;
    border-radius:50%;
    color:#555;
    margin-left: 100px;
    bottom: 0;
}

#monnaie
{
    color: white;
    font-family: 'LLPIXEL3';
    font-size: 50px;
    color: red;
}

/* ---- particles.js container ---- */

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

canvas {
    display: block;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #0f111d;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}