@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
#bossName {
    font-family: 'Press Start 2P', cursive;
    color: #FFF7EA;
}

.font {
    font-family: 'Press Start 2P', cursive;
}

ul {
    list-style: none;
    margin-left: 0;
    padding: 0;
}

#messages {
    color: #FFF7EA;
}

.font-color {
    color: #FFF7EA;
}

/* ---- particles.js container ---- */

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

canvas {
    display: block;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #0f111d;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}